#BioId {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    align-items: center;
    grid-gap: 20px;
}

@import url('https://fonts.googleapis.com/css?family=Adamina|Montserrat+Alternates|Press+Start+2P|Rock+Salt');
p {
    font-family: 'Adamina', serif;
}

@media screen and (max-width: 496px) {
    #BioId {
        height: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        grid-gap: 20px;
    }
}