#BioId {
    margin: 10px;
    color: black;
}

@import url('https://fonts.googleapis.com/css?family=Adamina|Montserrat+Alternates|Press+Start+2P|Rock+Salt');
p {
    font-family: 'Adamina', serif;
}

@media screen and (max-width: 496px) {
    #BioId {
        height: 90%;
        margin: 0px;
    }
}